[submodule "Vendor/Kiwi"]
	path = Vendor/Kiwi
	url = https://github.com/allending/Kiwi.git
[submodule "Vendor/Bryn.h-iOS"]
	path = Vendor/Bryn.h-iOS
	url = git://github.com/brynbellomy/Bryn.h-iOS.git
